:root {
  /* Celurean */
  --celurean-darker: #0e8ab5;
  --celurean-dark: #0f9bcb;
  --celurean: #11ace2;
  --celurean-light: #29b4e5;
  --celurean-lighter: #41bde8;
  /* Picton Blue */
  --picton-blue-darker: #38a6c3;
  --picton-blue-dark: #3fbbdc;
  --picton-blue: #46d0f4;
  --picton-blue-light: #59d5f5;
  --picton-blue-lighter: #6bd9f6;
  /* Begonia */
  --begonia-darker: #cc5d62;
  --begonia-dark: #e6686f;
  --begonia: #ff747b;
  --begonia: #ff8288;
  --begonia: #ff9095;
  /* Cod Gray */
  --cod-gray-darker: #0f0f0f;
  --cod-gray-dark: #111111;
  --cod-gray: #131313;
  --cod-gray-light: #2b2b2b;
  --cod-gray-lighter: #424242;
  /* White */
  --white-darker: #cbcbcb;
  --white-dark: #e5e5e5;
  --white: #fefefe;
  --pure-white: #fff;
  /* Application */
  --bg: var(--cod-gray);
  --color: var(--white-dark);
}
